@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


@layer components {
  .navbar-mobile {
    @apply translate-x-[50rem] md:translate-y-0;
  }
  .burger {
    @apply grid w-5 h-1 transform
    transition duration-[0.5s] 
    bg-gray-800;
  }
  .burger-active {
    @apply bg-red-700;
  }
  .burger-active:nth-child(1) {
    @apply rotate-[50deg] translate-y-[4px];
  }
  .burger-active:nth-child(3) {
    @apply rotate-[-50deg] translate-y-[-4px];
  }
  .navbar-items {
    @apply cursor-pointer md:text-[20px] lg:text-2xl 
    transition ease-in-out duration-[.400] rounded-md
    md:w-[15rem] md:h-[5rem] flex items-center justify-center;
  }
  .navbar-items:hover {
    @apply bg-gray-600;
  }

 .input{
  @apply w-[100%] h-[18%] p-2 rounded
 }
 .icon{
  @apply  left-20 top-20 text-4xl
  font-semibold text-slate-100 md:border-t-4 pl-1 md:pl-0 md:border-l-0
   md:border-lime-400 justify-center mb-20 border-lime-400 border-l-4
 }
 /* .banner::after{
  content:"";
  width:inherit;
  height: inherit;
  background-color: black;

 } */
}
