@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  html{
    @apply bg-gradient-to-b  from-slate-300 to-slate-300 
  }
  .navbar-mobile {
    @apply translate-x-[50rem] md:translate-y-0;
  }
  .burger {
    @apply grid w-5 h-1 transform
    transition duration-[0.5s] 
    bg-gray-800;
  }
  .burger-active {
    @apply bg-red-700;
  }
  .burger-active:nth-child(1) {
    @apply rotate-[50deg] translate-y-[4px];
  }
  .burger-active:nth-child(3) {
    @apply rotate-[-50deg] translate-y-[-4px];
  }
  .navbar-items {
    @apply cursor-pointer md:text-[20px] lg:text-2xl 
    transition ease-in-out duration-[.400] rounded-md
    md:w-[10rem] md:h-[5rem] flex items-center justify-center;
  }
  .navbar-items:hover {
    @apply bg-gray-600;
  }

 .input{
  @apply w-[100%] h-[18%] p-2 rounded
 }
 .icon{
  @apply  left-0 right-0 text-center m-auto text-4xl h-[90vh] 
   p-6 md:h-[60rem] absolute z-0
  font-semibold text-slate-100 md:border-t-4  md:pl-5 md:border-l-0
   md:border-lime-400 justify-center mb-20 border-green-500 border-l-4
 }
 .imgContainer{      
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  }
  .cards.active{
    @apply  translate-y-[0px]
     opacity-100

  }
  .cards{
    @apply flex justify-center my-3 h-full translate-y-[100px] 
     opacity-0
   
  }
}
